@charset "UTF-8";
.header {
  background-color: #579C87;
}
.header__titre {
  color: #FCCA46;
  text-align: center;
  margin: 0;
  font-size: 5em;
  padding: 0.5em 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a {
  text-decoration: none;
}

.footer__container {
  display: flex;
  font-size: 3em;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em 0;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #579C87;
}
.footer__mention {
  color: #FCCA46;
  margin: 0 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.footer__contact {
  color: #FCCA46;
  text-align: end;
  margin: 0 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

a:hover {
  animation-name: wiggle;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@media all and (max-width: 1024px) {
  .footer__mention {
    font-size: 0.75em;
  }

  .footer__contact {
    font-size: 0.75em;
  }
}
@media all and (max-width: 748px) {
  .footer__mention {
    font-size: 0.35em;
  }

  .footer__contact {
    font-size: 0.35em;
  }
}
/*ensemble de page*/
body, ul {
  margin: 0;
  padding: 0;
}

.main_color1 {
  background-color: #FCDFDB;
  width: 85%;
  margin: 1.5em auto 6em;
  color: #3D1319;
}

/*titre entre header et menu*/
.title {
  font-size: 3.5em;
  text-align: center;
  margin: 0;
  padding-top: 1em;
  font-family: Georgia, "Times New Roman", Times, serif;
}

/*En-tête menu*/
.menu__image {
  width: 10em;
  height: 10em;
  display: flex;
  margin: 0 auto;
}
.menu__titre {
  font-size: 5em;
  width: 6em;
  margin: 0 auto;
  font-family: "Devonshire";
}

/*Section menu*/
.section__menu {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
.section__menu--titre {
  font-size: 2.5em;
  font-family: "Montserrat";
  background: linear-gradient(to top, #3D1319 0%, #3D1319 10%, transparent 10.01%) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}
.section__menu--titre:hover {
  background-size: 100% 100%;
}
.section__menu--img {
  width: 20em;
  height: 2.5em;
}

/*Section liste plats et prix*/
.section__liste {
  display: flex;
  width: 83%;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 1.75em;
  font-family: "Montserrat";
}
.section__liste--plat {
  list-style-type: none;
}
.section__liste--prix {
  list-style-type: none;
  text-align: end;
}

li {
  padding-bottom: 1em;
}

/*Partie image et titre bas*/
.footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
}
.footer__menu--img {
  width: 6em;
  height: 6em;
}
.footer__menu--para {
  font-size: 3.5em;
  font-family: "Devonshire";
}

/*ensemble de page*/
.main_color2 {
  background-color: #FFF5FE;
  width: 75%;
  margin: 1.5em auto 6em;
  padding: 5em;
}

/*Pour se mettre en appétit*/
.section__menu1 {
  color: #C67412;
}

.section__menu2 {
  color: #A56799;
}

.section__menu3 {
  color: #6E4CCC;
}

.menu__titre2 {
  font-size: 4em;
  width: 9em;
  margin: 0 auto;
  background: linear-gradient(to right, #C67412, #A56799, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
}

/*Section menu*/
.section__variation1 {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
.section__variation1--titre {
  font-size: 2.5em;
  font-family: "Montserrat";
  background: linear-gradient(to top, #C67412 0%, #C67412 10%, transparent 10.01%) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}
.section__variation1--titre:hover {
  background-size: 100% 100%;
}
.section__variation1--img {
  width: 20em;
  height: 2.5em;
}

.section__variation2 {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
.section__variation2--titre {
  font-size: 2.5em;
  font-family: "Montserrat";
  background: linear-gradient(to top, #A56799 0%, #A56799 10%, transparent 10.01%) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}
.section__variation2--titre:hover {
  background-size: 100% 100%;
}
.section__variation2--img {
  width: 20em;
  height: 2.5em;
}

.section__variation3 {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
.section__variation3--titre {
  font-size: 2.5em;
  font-family: "Montserrat";
  background: linear-gradient(to top, #6E4CCC 0%, #6E4CCC 10%, transparent 10.01%) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}
.section__variation3--titre:hover {
  background-size: 100% 100%;
}
.section__variation3--img {
  width: 20em;
  height: 2.5em;
}

/*ensemble de page*/
.main_color3 {
  background-color: #EDEFEF;
  width: 75%;
  margin: 1.5em auto 6em;
  padding: 5em;
  color: #000000;
}

.menu__titre3 {
  font-size: 4em;
  width: 7.75em;
  margin: 0 auto;
  background: linear-gradient(to right, #0228DD, #0670F3, #89C7F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing script";
}

/*Section menu*/
.section__variation4 {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
.section__variation4--titre {
  font-size: 2.5em;
  font-family: "Montserrat";
  background: linear-gradient(to top, #000000 0%, #000000 10%, transparent 10.01%) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}
.section__variation4--titre:hover {
  background-size: 100% 100%;
}
.section__variation4--img {
  width: 20em;
  height: 2.5em;
}

/*ensemble de page*/
.main_color4 {
  background-color: #FDFFFD;
  width: 75%;
  margin: 1.5em auto 6em;
  padding: 5em;
  color: #202020;
}

.menu__titre4 {
  font-size: 6em;
  width: 8em;
  margin: 0 auto;
  background: linear-gradient(to right, #45993E, #79C55A, #B2F478);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
}

.section__variation5 {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
.section__variation5--titre {
  font-size: 2.5em;
  font-family: "Montserrat";
  background: linear-gradient(to top, #202020 0%, #202020 10%, transparent 10.01%) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.5s;
}
.section__variation5--titre:hover {
  background-size: 100% 100%;
}
.section__variation5--img {
  width: 20em;
  height: 2.5em;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes pointssuspension {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/* devonshire-regular - latin */
@font-face {
  font-family: "Devonshire";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/devonshire-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Devonshire-Regular"), url("../fonts/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-v8-latin-regular.woff2") format("woff2"), url("../fonts/devonshire-v8-latin-regular.woff") format("woff"), url("../fonts/devonshire-v8-latin-regular.ttf") format("truetype"), url("../fonts/devonshire-v8-latin-regular.svg#Devonshire") format("svg");
  /* Legacy iOS */
}
/* dancing-script-regular - latin */
@font-face {
  font-family: "Dancing Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dancing-script-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/dancing-script-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/dancing-script-v14-latin-regular.woff2") format("woff2"), url("../fonts/dancing-script-v14-latin-regular.woff") format("woff"), url("../fonts/dancing-script-v14-latin-regular.ttf") format("truetype"), url("../fonts/dancing-script-v14-latin-regular.svg#DancingScript") format("svg");
  /* Legacy iOS */
}
/* kaushan-script-regular - latin */
@font-face {
  font-family: "Kaushan Script";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/kaushan-script-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Kaushan Script"), local("KaushanScript-Regular"), url("../fonts/kaushan-script-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/kaushan-script-v8-latin-regular.woff2") format("woff2"), url("../fonts/kaushan-script-v8-latin-regular.woff") format("woff"), url("../fonts/kaushan-script-v8-latin-regular.ttf") format("truetype"), url("../fonts/kaushan-script-v8-latin-regular.svg#KaushanScript") format("svg");
  /* Legacy iOS */
}
/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/montserrat-v14-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/montserrat-v14-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"), url("../fonts/montserrat-v14-latin-regular.woff") format("woff"), url("../fonts/montserrat-v14-latin-regular.ttf") format("truetype"), url("../fonts/montserrat-v14-latin-regular.svg#Montserrat") format("svg");
  /* Legacy iOS */
}
h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.25em;
  padding: 0;
}

p {
  font-size: 1.5em;
}

.mentions {
  text-align: center;
  margin: 0 10%;
}

.section__btn {
  text-align: center;
}

.btn {
  border: 2px solid #579C87;
  background-color: #579C87;
  margin: 2em;
  width: 10em;
  height: 2em;
  color: #FCCA46;
  font-size: 3em;
  border-radius: 0.5em;
}
.btn span {
  animation-name: pointssuspension;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
}
.btn span:nth-child(2) {
  animation-delay: 330ms;
}
.btn span:nth-child(3) {
  animation-delay: 660ms;
}

.menu__transition {
  cursor: pointer;
  transform: scale(1);
  transition: transform 1000ms;
}
.menu__transition:hover {
  transform: scale(1.25);
  opacity: 0.7;
}

.menu1 {
  width: 35em;
  height: 40em;
  background-color: #FCDFDB;
  margin-right: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.menu1__titre {
  font-size: 4em;
  font-family: "Devonshire";
  color: #3D1319;
  margin: 0;
}
.menu1__soustitre {
  font-size: 3.5em;
  text-transform: uppercase;
  color: #3D1319;
  margin: 0.25em;
}

.menu2 {
  width: 35em;
  height: 40em;
  background-color: #FFF5FE;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.menu2__titre {
  font-size: 3em;
  background: linear-gradient(to right, #C67412, #A56799, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing Script";
  margin: 0;
}
.menu2__soustitre {
  font-size: 3.5em;
  text-transform: uppercase;
  color: #A56799;
  margin: 0.25em;
}

.menu3 {
  width: 35em;
  height: 40em;
  background-color: #EDEFEF;
  margin-right: 5em;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.menu3__titre {
  font-size: 3em;
  background: linear-gradient(to right, #0228DD, #0670F3, #89C7F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Dancing script";
  margin: 0;
}
.menu3__soustitre {
  font-size: 3.5em;
  text-transform: uppercase;
  color: #0670F3;
  margin: 0.25em;
}

.menu4 {
  width: 35em;
  height: 40em;
  background-color: #FDFFFD;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.menu4__titre {
  font-size: 3em;
  background: linear-gradient(to right, #45993E, #79C55A, #B2F478);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Kaushan Script";
  margin: 0;
}
.menu4__soustitre {
  font-size: 3.5em;
  text-transform: uppercase;
  color: #79C55A;
  margin: 0.25em;
}

.block1 {
  display: flex;
  padding: 5em 0;
  justify-content: center;
}

.block2 {
  display: flex;
  justify-content: center;
}

@media all and (max-width: 1024px) {
  .block1 {
    flex-direction: column;
    padding: 0;
  }

  .block2 {
    flex-direction: column;
  }

  .menu1 {
    margin: 5em auto;
  }

  .menu2 {
    margin: 0 auto;
  }

  .menu3 {
    margin: 5em auto;
  }

  .menu4 {
    margin: 0 auto;
  }

  .section__btn {
    margin-bottom: 5em;
  }
}
@media all and (max-width: 748px) {
  .menu1 {
    width: 10em;
    height: 15em;
    margin: 2em auto;
  }
  .menu1__titre {
    font-size: 2em;
  }
  .menu1__soustitre {
    font-size: 1em;
  }
  .menu1__img {
    width: 1.5em;
    height: 2em;
  }

  .menu2 {
    width: 10em;
    height: 15em;
    margin: 0 auto;
  }
  .menu2__titre {
    font-size: 1.5em;
  }
  .menu2__soustitre {
    font-size: 1em;
  }

  .menu3 {
    width: 10em;
    height: 15em;
    margin: 2em auto;
  }
  .menu3__titre {
    font-size: 1.5em;
  }
  .menu3__soustitre {
    font-size: 1em;
  }

  .menu4 {
    width: 10em;
    height: 15em;
    margin: 0 auto;
  }
  .menu4__titre {
    font-size: 1.5em;
  }
  .menu4__soustitre {
    font-size: 1em;
  }

  .btn {
    width: 10em;
    height: 3em;
    font-size: 1.25em;
    margin-bottom: 3em;
  }
}

/*# sourceMappingURL=style.css.map */
