@charset "UTF-8";
.header {
  background-color: #579C87;
}
.header__titre {
  color: #FCCA46;
  text-align: center;
  margin: 0;
  font-size: 5em;
  padding: 0.5em 0;
}

.footer {
  background-color: #579C87;
}
.footer__container {
  display: flex;
  font-size: 3em;
  align-items: center;
  width: 93%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 1em 0;
}
.footer__mention {
  color: #FCCA46;
}
.footer__contact {
  color: #FCCA46;
  text-align: end;
}

a:hover {
  animation-name: wiggle;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/*ensemble de page*/
body, ul {
  margin: 0;
  padding: 0;
}

.main_color1 {
  background-color: #FCDFDB;
  width: 85%;
  margin: 1.5em auto 6em;
  color: #3D1319;
}

/*titre entre header et menu*/
h2 {
  font-size: 3.5em;
  text-align: center;
  margin: 0;
  padding-top: 1em;
}

/*En-tête menu*/
.menu__image {
  width: 10em;
  height: 10em;
  display: flex;
  margin: 0 auto;
}
.menu__titre {
  font-size: 3em;
  width: 9em;
  margin: 0 auto;
}

/*Section menu*/
.section__menu {
  display: flex;
  align-items: center;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
}
.section__menu--titre {
  font-size: 2.5em;
  text-decoration: none;
}
.section__menu--titre:hover {
  text-decoration: underline;
}
.section__menu--img {
  width: 20em;
  height: 2.5em;
}

/*Section liste plats et prix*/
.section__liste {
  display: flex;
  width: 83%;
  justify-content: space-between;
  margin: 0 auto;
  font-size: 2em;
}
.section__liste--plat {
  list-style-type: none;
}
.section__liste--prix {
  list-style-type: none;
  text-align: end;
}

li {
  padding-bottom: 1em;
}

/*Partie image et titre bas*/
.footer__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
}
.footer__menu--img {
  width: 6em;
  height: 6em;
}
.footer__menu--para {
  font-size: 3.5em;
}

/*ensemble de page*/
.main_color2 {
  background-color: #FFF5FE;
  width: 75%;
  margin: 1.5em auto 6em;
  padding: 5em;
}

/*Pour se mettre en appétit*/
.menu1 {
  color: #C67412;
}

.menu2 {
  color: #A56799;
}

.menu3 {
  color: #6E4CCC;
}

.menu__titre2 {
  font-size: 3em;
  width: 9em;
  margin: 0 auto;
  background: linear-gradient(to right, #C67412, #A56799, #6E4CCC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*ensemble de page*/
.main_color3 {
  background-color: #EDEFEF;
  width: 75%;
  margin: 1.5em auto 6em;
  padding: 5em;
  color: #000000;
}

.menu__titre3 {
  font-size: 3em;
  width: 9em;
  margin: 0 auto;
  background: linear-gradient(to right, #0228DD, #0670F3, #89C7F5);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*ensemble de page*/
.main_color4 {
  background-color: #FDFFFD;
  width: 75%;
  margin: 1.5em auto 6em;
  padding: 5em;
  color: #202020;
}

.menu__titre4 {
  font-size: 3em;
  width: 9em;
  margin: 0 auto;
  background: linear-gradient(to right, #45993E, #79C55A, #B2F478);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  5% {
    transform: rotate(-5deg);
  }
  10% {
    transform: rotate(5deg);
  }
  15% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
/* devonshire-regular - latin */
@font-face {
  font-family: "Devonshire";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/devonshire-v8-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Devonshire-Regular"), url("../fonts/devonshire-v8-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/devonshire-v8-latin-regular.woff2") format("woff2"), url("../fonts/devonshire-v8-latin-regular.woff") format("woff"), url("../fonts/devonshire-v8-latin-regular.ttf") format("truetype"), url("../fonts/devonshire-v8-latin-regular.svg#Devonshire") format("svg");
  /* Legacy iOS */
}

/*# sourceMappingURL=style.css.map */
