@keyframes wiggle{
  0%{transform: rotate(0deg)}
  5%{transform: rotate(-5deg)}
  10%{transform: rotate(5deg)}
  15%{transform: rotate(0deg)}
  100%{transform: rotate(0deg)}
}
@keyframes pointssuspension{
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}