.section__btn{
    text-align: center;
}
.btn{
    border: 2px solid $color-header;
    background-color: $color-header;
    margin: 2em;
    width: 10em;
    height: 2em;
    color: $color-titre;
    font-size: 3em;
    border-radius: 0.5em;
    margin-bottom: 4em;
    & span{
        animation-name: pointssuspension;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
      }
      & span:nth-child(2){
        animation-delay: 330ms;
      }
      & span:nth-child(3){
        animation-delay: 660ms;
      }
}
.menu__transition{
    cursor: pointer;
    transform: scale(1);
    transition: transform 1000ms;
    &:hover{
        transform: scale(1.25);
        opacity: 0.7;
    }
}
.menu1{
    width: 35em;
    height: 40em;
    background-color: $color-menu1;
    margin-right: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
        &__titre{
        font-size: 4em;
        font-family: "Devonshire";
        color: $color-police1;
        margin: 0;
    }
    &__soustitre{
        font-size: 3.5em;
        text-transform: uppercase;
        color: $color-police1;
        margin: 0.25em;
    }
}
.menu2{
    width: 35em;
    height: 40em;
    background-color: $color-menu2;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    &__titre{
        font-size: 3em;
        background: linear-gradient(to right, $color-police2, $color-police3, $color-police4);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        font-family: 'Dancing Script';
        margin: 0;
    }
    &__soustitre{
        font-size: 3.5em;
        text-transform: uppercase;
        color: $color-police3;
        margin: 0.25em;
    }
}
.menu3{
    width: 35em;
    height: 40em;
    background-color: $color-menu3;
    margin-right: 5em;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    &__titre{
        font-size: 3em;
        background: linear-gradient(to right, $color-titre1, $color-titre2, $color-titre3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Dancing script";
        margin: 0;
    }
    &__soustitre{
        font-size: 3.5em;
        text-transform: uppercase;
        color: $color-titre2;
        margin: 0.25em;
    }
}
.menu4{
    width: 35em;
    height: 40em;
    background-color: $color-menu4;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    &__titre{
        font-size: 3em;
        background: linear-gradient(to right, $color-titre4, $color-titre5, $color-titre6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Kaushan Script";
        margin: 0;
    }
    &__soustitre{
        font-size: 3.5em;
        text-transform: uppercase;
        color: #79C55A;
        margin: 0.25em;
    }
}
.block1{
    display: flex;
    padding: 5em 0;
    justify-content: center;
    
}
.block2{
    display: flex;
    justify-content: center;
}
@media all and (max-width: 1024px){
    .block1{
        flex-direction: column;
        padding: 0;
    }
    .block2{
        flex-direction: column;
    }
    .menu1{
        margin: 5em auto;
    }
    .menu2{
        margin: 0 auto;
    }
    .menu3{
        margin: 5em auto;
    }
    .menu4{
        margin: 0 auto;
    }
    .section__btn{
        margin-bottom: 5em;
    }
}
@media all and (max-width: 748px){
    .menu1{
        width: 10em;
        height: 15em;
        margin: 2em auto;
        &__titre{
            font-size: 2em;
        }
        &__soustitre{
            font-size: 1em;
        }
        &__img{
            width: 1.5em;
            height: 2em;
        }
    }
    .menu2{
        width: 10em;
        height: 15em;
        margin: 0 auto;
        &__titre{
            font-size: 1.5em;
        }
        &__soustitre{
            font-size: 1em;
        }
    }
    .menu3{
        width: 10em;
        height: 15em;
        margin: 2em auto;
        &__titre{
            font-size: 1.5em;
        }
        &__soustitre{
            font-size: 1em;
        }
    }
    .menu4{
        width: 10em;
        height: 15em;
        margin: 0 auto;
        &__titre{
            font-size: 1.5em;
        }
        &__soustitre{
            font-size: 1em;
        }
    }
    .btn{
        width: 10em;
        height: 3em;
        font-size: 1.25em;
        margin-bottom: 3em;
    }
}