@import "../utils/variable/variables";
/*ensemble de page*/
body,ul{
    margin: 0;
    padding: 0;
}
.main_color{
    background-color: $color-menu1;
    width: 85%;
    margin: 1.5em auto 6em;
    color: $color-police1;
}
/*titre entre header et menu*/
h2{
    font-size: 3.5em;
    text-align: center;
    margin: 0;
    padding-top: 1em;
}
/*En-tête menu*/
.menu{
    &__image{
        width: 10em;
        height: 10em;
    }
    &__titre{
        font-size: 3em;
        width: 9em;
        margin: 0 auto;
    }
}
/*Section menu*/
.section__menu{
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    &--titre{
        font-size: 2.5em;
        text-decoration: none;
        &:hover{
            text-decoration: underline;
        }
    }
    &--img{
        width: 20em;
        height: 2.5em;
    }
}
/*Section liste plats et prix*/
.section__liste{
    display: flex;
    width: 83%;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 2em;
    &--plat{
        list-style-type: none;
    }
    &--prix{
        list-style-type: none;
        text-align: end;
    }  
}
li{
    padding-bottom: 1em;
}
/*Partie image et titre bas*/
.footer__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    &--img{
        width: 6em;
        height: 6em;
    }
    &--para{
        font-size: 3.5em;
    }
}

