@import "../utils/variable/variables";
/*ensemble de page*/
.main_color3{
    background-color: $color-menu3;
    width: 75%;
    margin: 1.5em auto 6em;
    padding: 5em;
    color: $color-police5;
}
.menu{
    &__titre3{
        font-size: 4em;
        width: 7.75em;
        margin: 0 auto;
        background: linear-gradient(to right, $color-titre1, $color-titre2, $color-titre3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Dancing script";
    }
}
/*Section menu*/
.section__variation4{
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    &--titre{
        font-size: 2.5em;
        font-family: "Montserrat";
        background: linear-gradient(to top, $color-police5 0%, $color-police5 10%, transparent 10.01%)no-repeat;
        background-size: 0% 100%;
        transition: background-size 0.5s;
        }
        &--titre:hover{
            background-size: 100% 100%;
        }
    &--img{
        width: 20em;
        height: 2.5em;
    }
}
@media all and (max-width:748px){
    .menu{
       &__titre3{
            font-size: 1.5em;
        }
    }
    .section__variation4{
        &--titre{
            font-size: 0.75em;
            text-align: center;
        }
        &--img{
            font-size: 0.25em;
        }
    }
    .section__liste{
        &--plat{
            font-size: 0.33em;
            width: 75%;
        }
        &--prix{
            font-size: 0.4em;
        }
    }
    .prix{
        padding-bottom: 1.75em;
    }
    .footer__menu{
        padding: 0;
        &--para{
            font-size: 2em;
        }
        &--img{
            font-size: 0.5em;
            padding-bottom: 2em;
        }
    }
}