@import "../utils/variable/variables";
/*ensemble de page*/
.main_color4{
    background-color: $color-menu4;
    width: 75%;
    margin: 1.5em auto 6em;
    padding: 5em;
    color: $color-police6;
}
.menu{
    &__titre4{
        font-size: 3em;
        width: 9em;
        margin: 0 auto;
        background: linear-gradient(to right, $color-titre4, $color-titre5, $color-titre6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
