/*ensemble de page*/
body,ul{
    margin: 0;
    padding: 0;
}
.main_color1{
    @include main;
    background-color: $color-menu1;
    color: $color-police1;
}
/*titre entre header et menu*/
.title{
    @include title
}
/*En-tête menu*/
.menu{
    &__image{
        width: 10em;
        height: 10em;
        display: flex;
        margin: 0 auto;
    }
    &__titre{
        font-size: 5em;
        width: 6em;
        margin: 0 auto;
        font-family: $police1;
    }
}
/*Section menu*/
.section__menu{
    @include variation;
    &--titre{
        font-size: 2.5em;
        font-family: $police7;
        background: linear-gradient(to top, $color-police1 0%, $color-police1 10%, transparent 10.01%)no-repeat;
        background-size: 0% 100%;
        transition: background-size 0.5s;
        }
        &--titre:hover{
            background-size: 100% 100%;
            text-align: center;
        }
    &--img{
        @include img;
    }
}
/*Section liste plats et prix*/
.section__liste{
    @include liste;
    &--plat{
        list-style-type: none;
    }
    &--prix{
        list-style-type: none;
        text-align: end;
    }  
}
li{
    padding-bottom: 1em;
}
/*Partie image et titre bas*/
.footer__menu{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 3em 0;
    &--img{
        width: 6em;
        height: 6em;
    }
    &--para{
        font-size: 3.5em;
        font-family: $police1;
    }
}
@media all and (max-width: 1024px){
    .title{
        font-size: 2.5em;
    }
    .menu{
        &__image{
        width: 5em;
        height: 5em;
        }
        &__titre{
            font-size: 3em;
        }
    }
    .section__menu{
        &--img{
            font-size: 0.5em;
        }
        &--titre{
            font-size: 1em;
            text-align: center;
        }
    }
    .section__liste{
        &--plat{
            font-size: 0.5em;
        }
        &--prix{
            font-size: 0.5em;
        }
    }
    .footer__menu{
        &--img{
            font-size: 0.75em;
        }
        &--para{
            font-size: 2.5em;
        }
    }
}
@media all and (max-width:748px){
    .title{
        font-size: 1.5em;
    }
    .main_color1{
        margin-bottom: 10em;
    }
    .menu{
        &__titre{
            font-size: 2em;
        }
        &__image{
            width: 3.5em;
            height: 3.5em;
            padding-top: 1em;
        }
    }
    .section__menu{
        &--img{
            font-size: 0.2em;
        }
        &--titre{
            font-size: 0.75em;
            text-align: center;
        }
    }
    .section__liste{
        &--plat{
            font-size: 0.33em;
            width: 75%;
        }
        &--prix{
            font-size: 0.4em;
        }
    }
    .prix{
        padding-bottom: 1.75em;
    }
    .footer__menu{
        padding: 0;
        &--para{
            font-size: 2em;
        }
        &--img{
            font-size: 0.5em;
            padding-bottom: 2em;
        }
    }
}