@import "../utils/variable/variables";
/*ensemble de page*/
.main_color4{
    background-color: $color-menu4;
    width: 75%;
    margin: 1.5em auto 15em;
    padding: 5em;
    color: $color-police6;
}
.menu{
    &__titre4{
        font-size: 4em;
        width: 8em;
        margin: 0 auto;
        background: linear-gradient(to right, $color-titre4, $color-titre5, $color-titre6);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Kaushan Script";
    }
}
.section__variation5{
    display: flex;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    justify-content: space-between;
    &--titre{
        font-size: 2.5em;
        font-family: "Montserrat";
        background: linear-gradient(to top, $color-police6 0%, $color-police6 10%, transparent 10.01%)no-repeat;
        background-size: 0% 100%;
        transition: background-size 0.5s;
        }
        &--titre:hover{
            background-size: 100% 100%;
        }
    &--img{
        width: 20em;
        height: 2.5em;
    }
}
@media all and(max-width:1024px){
    .main_color4{
        width: 90%;
        padding: 2em 0;
    }
    .section__variation5{
        width: 100%;
        text-align: center;
    }
}
@media all and (max-width:748px){
    .main_color4{
        padding: 0;
        margin: 2em auto 10em;
    }
    .menu{
        &__titre4{
            font-size: 1.5em;
        }
    }
    .section__variation5{
        &--titre{
            font-size: 0.75em;
            text-align: center;
        }
        &--img{
            font-size: 0.25em;
        }
    }
    .section__liste{
        &--plat{
            font-size: 0.33em;
            width: 75%;
        }
        &--prix{
            font-size: 0.4em;
        }
    }
    .prix{
        padding-bottom: 1.75em;
    }
    .footer__menu{
        padding: 0;
        &--para{
            font-size: 2em;
        }
        &--img{
            font-size: 0.5em;
            padding-bottom: 2em;
        }
    }
}