@import "../utils/variable/variables";
/*ensemble de page*/
.main_color3{
    background-color: $color-menu3;
    width: 75%;
    margin: 1.5em auto 6em;
    padding: 5em;
    color: $color-police5;
}
.menu{
    &__titre3{
        font-size: 4em;
        width: 7.75em;
        margin: 0 auto;
        background: linear-gradient(to right, $color-titre1, $color-titre2, $color-titre3);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: "Dancing script";
    }
}