.footer{
    &__container{
        display: flex;
        font-size: 3em;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 1em 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $color-header;
    }
    &__mention{
        color: $color-titre;
        margin: 0 1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
    &__contact{
        color: $color-titre;
        text-align: end;
        margin: 0 1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}
a{
    &:hover{
        animation-name: wiggle;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}
@media all and (max-width: 1024px){
    .footer__mention{
        font-size: 0.75em;
    }
    .footer__contact{
        font-size: 0.75em;
    }
}
@media all and (max-width: 748px){
    .footer__mention{
        font-size: 0.35em;
    }
    .footer__contact{
        font-size: 0.35em;
    }
}