@import "../utils/variable/variables";
.footer{
    background-color: $color-header;
    &__container{
        display: flex;
        font-size: 3em;
        align-items: center;
        width: 93%;
        justify-content: space-between;
        margin: 0 auto;
        padding: 1em 0;
    }
    &__mention{
        color: $color-titre;
    }
    &__contact{
        color: $color-titre;
        text-align: end;
    }
}
a{
    &:hover{
        animation-name: wiggle;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}
