.footer{
    &__container{
        display: flex;
        font-size: 3em;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
        padding: 1em 0;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: $color-header;
    }
    &__mention{
        color: $color-titre;
        margin: 0 1em;
    }
    &__contact{
        color: $color-titre;
        text-align: end;
        margin: 0 1em;
    }
}
a{
    &:hover{
        animation-name: wiggle;
        animation-duration: 0.5s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
    }
}
