$color-header: #579C87;
$color-titre: #FCCA46;
$color-menu1: #FCDFDB;
$color-menu2: #FFF5FE;
$color-menu3: #EDEFEF;
$color-menu4: #FDFFFD;
$color-police1: #3D1319;
$color-police2: #C67412;
$color-police3: #A56799;
$color-police4: #6E4CCC;
$color-police5: #000000;
$color-police6: #202020;
$color-titre1: #0228DD;
$color-titre2: #0670F3;
$color-titre3: #89C7F5;
$color-titre4: #45993E;
$color-titre5: #79C55A;
$color-titre6: #B2F478;